* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(134,211,179);
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: .5rem;
  border: 2 rem solid;
  font-size: 8vmin;
  color: #9a413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  height: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: rgb(254,45,154);
  font-size: 10vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  background-color: rgb(45, 90, 65);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-color: goldenrod;
  border-radius: 30%;
}

.hide {
  display: none;
}